<div class="jumbotron bg-white">
    <h1 class="display-4 text-center">Covid - 19 Tracker</h1>
    <hr class="my-2">

   <app-dashboard-card
    [totalConfirmed]='totalConfirmed'
    [totalDeaths]='totalDeaths'
    [totalActive]='totalActive'
    [totalRecovered]='totalRecovered'
   ></app-dashboard-card>

<div class="row">
    <div class="col-md-6">
        <google-chart [data]="columnChart"></google-chart>
    </div>
    <div class="col-md-6">
        <google-chart [data]="pieChart"></google-chart>
    </div>
</div>

  
   
</div>